@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #9cadce;
}

section.container {
  width: 80%;
  background-color: white;
  border-radius: 1.3rem;
  border: none;
  box-shadow: 4px 6px 8px #6982b5;
  padding: 2rem 3.5rem;
  margin: 20px auto;
  margin-top: 4rem;
}
.container header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

h2 {
  font-weight: 600;
}
p {
  font-size: 0.95rem;
}
header i {
  color: #9cadce;
}

/* FAQ SECTION */

.faq-container {
  padding: 10px 0;
  border-bottom: 1px solid #8c92ac;
}
.faq-container .faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.faq-container .faq-header i {
  font-size: 1.5rem;
  color: #9cadce;
  cursor: pointer;
}
.faq-body-text {
  display: none;
  padding-top: 10px;
}

.open {
  display: block;
}

@media (max-width: 478px) {
  section.container {
    width: 95%;
    padding: 2rem 1rem;
  }
  .faq-header h3 {
    font-size: 0.95rem;
    width: 80%;
  }
  .faq-body-text p {
    font-size: 0.96rem;
  }
}
